@font-face {
    font-family: 'Montserrat-Medium';
    src: url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('assets/fonts/Montserrat-ExtraBold.ttf');
}

*{
    font-family: 'Montserrat-Medium';
}
.cabecalho{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 35px;
}
.menu{
    margin: 0px;
    display: flex;
    align-items: center;

}
header .menu > ul{
    list-style: none;
    padding: 0%;
    margin-right: 30px;
    text-align:end;
}
.submenu ul{
    padding: 0%;
    margin: 0%;
    text-align: left;
}
header ul li{
    display: inline-block;
    position: relative;
}
header ul li a{
    display: block;
    padding: 0;
    margin: 0px 30px;
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
}
header ul li a:hover{
    font-weight: bold;
}
.menu a::after{
    content: "";
    position: absolute;
    left: 15%;
    bottom: -4px;
    width: 0;
    height: 4px;
    background-color: #0068ff;
    transition: width 0.3s ease;
}
header a:hover::after  {
    width: 70%;
}
.dropdown:hover > a,
.dropdown:hover .cls-1{
    color: #0068ff;
    stroke: #0068ff;
}
header .dropdown .submenu{
    display: none;
    position: absolute;
    padding: 0px 10px;
    margin: 0px;
}
header .dropdown:hover .submenu{
    display: block;
}
header .submenu a{
    display: block;
    padding: 20px 25px 0px;
    margin: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: left;
}
header .dropdown svg {
    vertical-align: middle;
    margin-left: 0px;
}
.logo svg{
    margin:10% 0% 0% 40%;
    
}
.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.info h2{
    font-family: 'Montserrat-ExtraBold';
    font-size: 300%;
    color: #0068ff;
    margin:3% 0%

}
.info span{
    font-family: 'Montserrat-ExtraBold';
}
.info p{
    line-height: 140%;
    font-size: 147%;
    color: #fff;
}
.info {
    text-align: justify;
    margin: 12% 7% 0% 2%;
    padding: 0%;
    
}
.about {
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.image svg{
    padding: 0%;
    margin: 40% 0px 0px 30%;
}
body{
    background-image: url('./assets/background.svg');
    background-position: center top;
    background-size: 100%;
}