*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
}
.inicio{
    background-image: url(assets/background_hero.png);
    width: 100%;
    margin: 0 auto;
    padding:80px 0px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 112px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:72px;
}
.texto{
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}
h1{
    color:#ffffff;
    font-size: 68px;
    font-weight: 800;
    line-height: 88.4px;
    letter-spacing: 0%;
    text-align: center;
}
.destaque{
    color:#0068FF;
}
.fundo-escuro{
    max-width: 678px;
    color:#ffffff;
    font: size 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
}
.botoes{
    display: flex;
    gap: 40px;
}
.primary{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    border:0;
    display: flex;
    padding: 16px 24px 16px 40px;
    border-radius: 24px;
    color: #ffffff;
    background-color: #0068FF;
}